@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Single";
}
<!--single start here-->
<div class="single agileits">
	<div class="container">
   <div class="single-grid w3layouts">
	 <div class="single-right ">
		<img src='@Url.Content("~/Content/images/s.jpg" )'alt=""  class="img-responsive wow bounceInRight" data-wow-delay="0.3s">
		<h4>At vero eos et accusamus et iusto odio dignissimos ducimus</h4>
		<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
	    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
	   <div class="resent-posts">
	   	<h5>Recent Posts</h5>
		  <div class="col-md-3 posts-grid wow bounceIn" data-wow-delay="0.4s">
		   	 <a href="#"><img src='@Url.Content("~/Content/images/s1.jpg")' alt="" class="img-responsive"></a> 
		  </div>
		  <div class="col-md-3  w3 posts-grid wow bounceIn" data-wow-delay="0.4s">
		   		 <a href="#"><img src='@Url.Content("~/Content/images/s2.jpg")' alt="" class="img-responsive"></a> 
		  </div>
		  <div class="col-md-3 w3l posts-grid wow bounceIn" data-wow-delay="0.4s">
		   		 <a href="#"><img src='@Url.Content("~/Content/images/s3.jpg")' alt="" class="img-responsive"></a>
		  </div>
		  <div class="col-md-3  w3ls posts-grid wow bounceIn" data-wow-delay="0.4s">
		   		 <a href="#"><img src='@Url.Content("~/Content/images/s4.jpg" )'alt="" class="img-responsive"></a>
		  </div>
		<div class="clearfix"> </div>
	   </div>
	   <div class="single-commemts agile wow bounceInLeft" data-wow-delay="0.3s">
   			<div class="col-md-2 user">
				<a href="#"><img src='@Url.Content("~/Content/images/user.png")' alt="" class="img-responsive"></a>
			</div>
			<div class="col-md-10 agileinfo user-comment">
				<h4><a href="#">Bill Brown</a></h4>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
			    <h6>On May 14, 2016 18:05</h6>
			    <div class="user-bwn">
			    	<a href="#"> Reply</a>
			    </div>
			</div>
      <div class="clearfix"> </div>
	</div>
      <div class="magsingle-contact wthree wow bounceInRight" data-wow-delay="0.3s">
	   	<h3>Leave A Comment</h3>
		  <form action="#" method="post">		
	    	<input type="text" class="name" value="Name" name="name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"/>
	    	<input type="text"  class="no-mar email" value="Email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/>
	    	<textarea onfocus="this.value = '';" name="message" onblur="if (this.value == '') {this.value = 'Message';}">Message </textarea>
	    	<input type="submit"  value="Submit Comment" />
	     </form>
	  </div>
	</div>
	 <div class="clearfix"> </div>
  </div>
</div>
</div>
<!--single end here-->
